body{
  background: rgba(213, 213, 219, 0.76);
}



.cabe{
  margin: 10px;
  text-align: center;
}

.btn{
  border-radius: 50px 50px 50px 50px;
}

.container{
  background: rgba(229, 221, 237, 0.86);
}
